                                                            /* Tienda */

.tienda{
    padding-top: 1rem;
    padding-right: 4rem;
    & img{
        width: 17rem;
    }
    .card{
        margin: 4rem;
    }
}